@*@model System.Char[]*@
@model Hangman.Web.Models.GameModel

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            <span>You have: </span>
            <span id="guesses">@Model.Guesses</span>
            <span>guesses left.</span>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <div class="well">
            <form id="formLetters" method="get" action="@Url.Action("GuessTheLetter")">
                <div class="btn-group">
                    @{
                        var letters = Model.UsedLetters;
                        for (int i = 0; i < letters.Length; i++)
                        {
                            if (i % 9 == 0)
                            {
                                <br />
                            }
                            if (char.IsUpper(letters[i]))
                            {
                                <a class="key btn btn-default" href="#">@(letters[i])</a>
                            }
                            else
                            {
                                <span class="btn btn-warning disabled" id="@i">@(char.ToUpper(letters[i]))</span>
                            }
                        }
                    }
                </div>
                <input id="hiddenInput" type="hidden" name="letter" />
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">You play for country name: </div>
            <div class="panel-body">
                @{
                    for (int i = 0; i < Model.PartialWord.Length; i++)
                    {
                        if (char.IsLetter(Model.PartialWord[i]))
                        {
                            <span>@Model.PartialWord[i]</span>
                        }
                        else
                        {
                            <span id="@i">_</span>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<script>
    (function drawTheHangman() {
        var innerText = $("#guesses").html();
        var num = parseInt(innerText);

        if (num == 4) {
            drawHangman.drawHead();
        }
        else if (num == 3) {
            drawHangman.drawBody();
        }
        else if (num == 2) {
            drawHangman.drawHands();
        }
        else if (num == 1) {
            drawHangman.drawLegs();
        }
        else {
            return;
        }
    })();
</script>
